body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin-top: 250px;
  margin-left: 100px;
  margin-right: 100px;

  background-image: url("../img/pexels-photo-268533.jpeg");
  background-size: cover;
}

body.index-first {
  background-image: url("../img/gradient-red-and-black-background-15424178422Hd.jpg");
}

body.index-second {
 background-image: url("../img/brick-background.jpg");
}

h1 {
  font-size: 5rem;
  text-align: center;
  text-wrap: balance;
  border: 10px solid rgb(255, 255, 255);
  padding-bottom: 35px;
  padding-top: 10px;
  background-color: rgb(18, 73, 135);

  font-family: "Playwrite NZ Basic", cursive;
  font-weight: 400;
  font-style: normal;
}

h1.index-first {
  color: rgb(255, 0, 0);
  border: 10px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

h1.index-second {
  color: rgb(0, 0, 0);
  border: 10px solid rgb(0, 0, 0);
  background-color: rgba(174, 63, 63, 0.764);
}

h2 {
  font-size: 2.5rem;
  text-align: center;

  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 1.6rem;
  padding: 30px;
  text-align: center;
  line-height: 40px;

  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p.index-second {
  text-shadow: 5px 3px 4px black ;
  text-shadow: ;
  color: rgb(255, 0, 0);
  -webkit-text-stroke-width: 100px black;
  -webkit-text-stroke: 1.8px black;
}

button {
  font-family: "Archivo Black", sans-serif;
  font-weight: 50;
  font-style: normal;
  font-size: 1.5rem;
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
}

button.page-backward {
  float: left;
}

button.page-foward {
  float: right;
}
